

<div id="header" ng-include="'/assets/admin/views/common/header.html'"></div>
<aside id="menu" ng-include="'/assets/admin/views/common/navigation.html'"></aside>

<div id="wrapper">

	<div class="content" animate-panel effect="zoomIn">

		<div class="row">
			<div class="col-lg-12 text-center m-t-md">
				<h2>
					<span translate>
						ADMINS_TITLE
					</span>
				</h2>
				<p>
					<span translate>
						ADMINS_SUBTITLE
					</span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="hpanel" ng-controller="AdminsCtrl">
					<div class="panel-heading">
						<span translate>
						    ADMINS_LIST_TITLE
						</span>
					</div>
					<div class="panel-body list">
						<div class="project-list">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" id="adminsTable" class="table table-striped">
								<thead>
									<tr>
										<th width="10%"><div class="stats-title pull-left"><h4><span translate>ADMINS_LIST_ID</span></h4></th>
										<th width="70%"><div class="stats-title pull-left"><h4><span translate>ADMINS_LIST_NAME</span></h4></th>
										<th width="20%"><div class="stats-title pull-left"><h4><span translate>ADMINS_LIST_ACTIONS</span</h4></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="admin in admins">
										<td>{{admin.id}}</td>
										<td><a href="/admin/admins/{{admin.id}}">{{admin.name}}</a></td>
										<td>
											<button class="btn btn-default btn-sm" type="button" ng-click="adminManager.delete(admin.id)">
												<i class="fa fa-trash-o"></i>
												<span class="bold" translate>
													ADMINS_LIST_BUTTON_DELETE
												</span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-default btn-sm" type="button" ng-click="adminsManagers.add()">
							<i class="fa fa-plus"></i>
							<span class="bold" translate>
								ADMINS_LIST_BUTTON_ADD
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" ng-include="'/assets/admin/views/common/footer.html'"></footer>

</div>
