<div id="header" ng-include="'/assets/admin/views/common/header.html'"></div>
<aside id="menu" ng-include="'/assets/admin/views/common/navigation.html'"></aside>
<div id="wrapper" ng-controller="PricesCtrl">
   <div class="content" animate-panel effect="zoomIn">
      <div class="row">
         <div class="col-lg-12 text-center m-t-md">
            <h2>
               <span translate>
               PRICES
               </span>
            </h2>
         </div>
      </div>
      <div class="col-lg-12 text-left m-t-md">
        <h3>
          <span translate>
              RECALCULATE
          </span>
       </h3>
         <div class="col-lg-4 m-t-md">
           <button type="button"
             class="btn btn-default"
             ng-click="pricesManager.recalculatePriceInterval()">
             <span translate>
               RECALCULATE
             </span>
           </button>

           <span translate ng-show="recalculatePriceStatus != 'Idle'">{{ recalculatePriceStatus|uppercase }}</span>
         </div>
      </div>
      <div class="col-lg-12 text-left m-t-md" ng-show="status.status.length">
         <h3>
           <span translate>
               STATUS
           </span>
        </h3>
        <div class="row" ng-repeat="item in status.status">
          <div class="col-lg-12">
            <b translate>
                SUPPLIER
            </b>:
            {{item.supplier}}.

            <b translate>
                STATUS
            </b>:
            <span translate>
            {{item.status|uppercase}}
            </span>.

            <b translate>
                UPLOAD_LINES
            </b>:
            {{item.processed}}
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-left m-t-md" ng-show="status.history.length">
         <h3>
           <span translate>
               HISTORY
           </span>
        </h3>
        <div class="row" ng-repeat="item in status.history">
          <div class="col-lg-12">
            <b translate>
                SUPPLIER
            </b>
            {{item.supplier}}.
            <b translate>
                UPLOAD_LINES
            </b>:
            {{item.processed}}.
            <b translate>
                TIME
            </b>:
            {{item.time}}
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-left m-t-md">
         <h3>
           <span translate>
               ADD_PRICE_IN_PROGRESS
           </span>
        </h3>
      </div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label font-normal">
						<span translate>
							ADD_PRICE
						</span>
					</label>
					<div class="col-sm-6">
            <select class="form-control"
                    ng-model="setting"
                    ng-options="settings[0] as settings[1] for settings in exelSettings">
            </select>
					</div>
          <div class="col-sm-4"></div>
	      </div>
				<div class="form-group">
					<label class="col-sm-2 control-label font-normal">
						<span translate>
							ADD_FILE
						</span>
					</label>
					<div class="col-sm-10">
						<span class="btn btn-default btn-file">
						    <span translate>BROWSE</span> <input
                  type="file"
                  name="file"
                  ngf-select="pricesManager.onFileSelect($file)">
						</span>
            {{file.name}}
					</div>
	      </div>
				<div class="form-group">
          <div class="col-sm-2"></div>
					<div class="col-sm-10 text-left">
						<button type="button"
              class="btn btn-default"
              ng-disabled="!file"
              ng-click="pricesManager.save()">
							<span translate>
								SAVE
							</span>
						</button>
					</div>
				</div>
			</form>
	 </div>
   <footer class="footer" ng-include="'/assets/admin/views/common/footer.html'"></footer>
</div>
