
<div id="header" ng-include="'/assets/admin/views/common/header.html'"></div>
<aside id="menu" ng-include="'/assets/admin/views/common/navigation.html'"></aside>

<div id="wrapper">

	<div class="content" animate-panel effect="zoomIn">

		<div class="row">
			<div class="col-lg-12 text-center m-t-md">
				<h2>
					<span translate>
						SALES_TITLE
					</span>
				</h2>
				<p>
					<span translate>
						SALES_SUBTITLE
					</span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="hpanel" ng-controller="SalesCtrl">
					<div class="panel-heading">
						<div panel-tools></div>
						<span translate>
							SALES_LIST_TITLE
						</span>
					</div>
					<div class="panel-body list">
						<div class="project-list">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" id="saleTable" class="table table-striped">
								<thead>
									<tr>
										<th style="width:50px;"><div class="stats-title pull-left"><h4><span translate>SALES_LIST_ID</span></h4></th>
										<th><div class="stats-title pull-left"><h4><span translate>SALES_LIST_NAME</span></h4></th>
										<th style="width:190px;"><div class="stats-title pull-left"><h4><span translate>SALES_LIST_ACTIONS</span</h4></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sale in sales">
										<td>{{sale.id}}</td>
										<td><a href="/admin/sales/{{sale.id}}">{{sale.title}}</a></td>
										<td>
											<button class="btn btn-default btn-sm" type="button" ng-click="salesManager.delete(sale.id)">
												<i class="fa fa-trash-o"></i>
												<span class="bold" translate>
													SALES_LIST_BUTTON_DELETE
												</span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer" style="background-color: transparent">
						<button class="btn btn-default btn-sm" type="button" ng-click="salesManager.add()">
							<i class="fa fa-plus"></i>
							<span class="bold" translate>
								SALES_LIST_BUTTON_ADD
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" ng-include="'/assets/admin/views/common/footer.html'"></footer>

</div>
