<div id="header" ng-include="'/assets/admin/views/common/header.html'"></div>
<aside id="menu" ng-include="'/assets/admin/views/common/navigation.html'"></aside>

<div id="wrapper" class="animate-panel" data-effect="zomeIn">

  <div class="content">

	<div class="row">
	  <div class="col-lg-12 text-center m-t-md">
		<h2>
      <span translate>SETTINGS</span>
		</h2>
		<p>
			{{ currentSettings.title }}
		</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-12">
		<div class="hpanel" ng-controller="SettingsUpdateCtrl">
		  <ul class="nav nav-tabs">
			<li ng-click="TabManager.update($event)" ng-class="{ active: TabManager.state == '#tab-description' }">
			  <a data-toggle="tab" href="#tab-description" aria-expanded="true">
          <span translate>
            DESCRIPTION
          </span>
        </a>
			</li>
		  </ul>

		  <div class="tab-content">

			<div id="#tab-description" class="tab-pane" ng-class="{ active: TabManager.state == '#tab-description' }">
			  <div class="panel-body">
				<form method="get" class="form-horizontal">

				  <div class="form-group">
  					<label for="title" class="col-sm-2 control-label font-normal">
              <span translate>
                TITLE
              </span>
            </label>
  					<div class="col-sm-10">
  					  <input type="text" class="form-control" id="title-element"
  						ng-trim="false"
  						ng-class="{error: !!Validation['title'].invalidMsg}"
  						ng-model="Validation['title'].value"
  						ng-change="Validation['title'].validate()">

  					  <span class="help-block m-b-none text-danger"
  						ng-show="!!Validation['title'].invalidMsg"
  						ng-bind="Validation['title'].invalidMsg">
  					  </span>
  					</div>
				  </div>

				  <div class="hr-line-dashed"></div>

          <div class="form-group">
    				<label class="col-sm-2 control-label font-normal">
    					<span translate>
    						SHORTCODE
    					</span>
    				</label>
    				<div class="col-sm-10">
    					<input type="text" class="form-control"
    						ng-trim="false"
    						ng-class="{error: !!Validation['shortcode'].invalidMsg}"
    						ng-model="Validation['shortcode'].value"
    						ng-change="Validation['shortcode'].validate()">
    					<span class="help-block m-b-none text-danger" ng-show="!!Validation['shortcode'].invalidMsg">
    						{{ Validation['shortcode'].invalidMsg }}
    					</span>
    				</div>
          </div>

				  <div class="hr-line-dashed"></div>

          <div class="form-group">
    				<label class="col-sm-2 control-label font-normal">
    					<span translate>
    						VALUE
    					</span>
    				</label>
    				<div class="col-sm-10">
    					<textarea class="form-control" rows="5" ng-trim="false"
    					ng-class="{error: !!Validation['value'].invalidMsg}"
    					ng-model="Validation['value'].value"
    					ng-change="Validation['value'].validate()"></textarea>
    					<span class="help-block m-b-none text-danger" ng-show="!!Validation['value'].invalidMsg">
    						{{ Validation['value'].invalidMsg }}
    					</span>
    				</div>
          </div>
				  <div class="hr-line-dashed"></div>

				  <div class="form-group">
					<div class="col-sm-2 col-sm-offset-2">
					  <button type="button" class="btn btn-default"
						ng-click="SettingsUpdateManager.save()"
						ng-disabled="Validation.errorStack.length || !Validation.changes">
              <span translate>
                SAVE
              </span>
            </button>
					</div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-default"
            ng-click="SettingsUpdateManager.cancel()">
              <span translate>
                CANCEL
              </span>
            </button>
          </div>
				  </div>
				</form>
			  </div>
			</div>

		</div>
	  </div>
	</div>
  </div>

  <footer class="footer" ng-include="'/assets/admin/views/common/footer.html'"></footer>

</div>
