
<div class="color-line"></div>

<div id="logo" class="light-version">
		<span class="font-extra-bold font-uppercase logo">Tovarovoz</span>
</div>

<nav role="navigation">
	<div class="small-logo">
		<span class="text-primary" translate>HEADER_VERSION</span>
	</div>
	<div class="navbar-right">
		<ul class="nav navbar-nav no-borders">
			<li>
				<a href="#">
					<i class="pe-7s-home pe-7s-news-paper"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="pe-7s-upload pe-rotate-90"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
