<div id="navigation">

	<ul class="nav" id="side-menu">
		<li ui-sref-active="active">
			<a ui-sref="/admin/goods">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_GOODS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/categories">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_CATEGORIES</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/manufacturers"><span class="nav-label" translate>SIDEBAR_NAVIGATION_MANUFACTURERS</span></a>
		</li>

		<li ui-sref-active="active">
			<a ui-sref="/admin/sales"><span class="nav-label" translate>SIDEBAR_NAVIGATION_SALES</span></a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/slides"><span class="nav-label" translate>SIDEBAR_NAVIGATION_SLIDES</span></a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/admins">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_ADMINS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/currencies">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_CURRENCIES</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/orderstatuses">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_ORDERSTATUS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/orderstatusmessages">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_MESSAGES</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/suppliers">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_SUPPLIERS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/customers">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_CUSTOMERS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/costscales">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_COSTSCALES</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/settings">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_SETTINGS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/rawgoods">
				<span class="nav-label" translate>SIDEBAR_RAWGOODS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/excelsettings">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_EXCEL_SETTINGS</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/prices">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_PRICES</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="/admin/news">
				<span class="nav-label" translate>SIDEBAR_NAVIGATION_NEWS</span>
			</a>
		</li>
	</ul>

</div>
