@()
<div class="slider">
    <div id="carousel-1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>

            <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href=""><img src="img/slider-img.jpg" alt="..." width="820" height="240"></a>
            </div>
            <div class="item">
                <a href=""><img src="img/slider-img.jpg" alt="..." width="820" height="240"></a>
            </div>
        </div>

    </div>
</div>